body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}

.score-board {
  margin-left: 50px;
  font-size: 24px;
  height: 100px;
  width: 150px;
  border: 1px solid;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  position: sticky;
}

.app {
  display: flex;
  padding: 30px;
}

.game {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.game img {
  width: 70px;
  height: 70px;
}